{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}
{% block body %}
    <ul>
        {% for post in posts  %}
            <li><a href="{{ path('page_show',{id: post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}